body {
  background-image: url('milky-way.jpg');
}

.Login {
  padding: 60px 0;
}

* {
  color: whitesmoke;
  text-align: center;
}

hr {
  height: 5px;
  margin: 20px;
  background-color: greenyellow;
  border: 0 none;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.byline {
  color: whitesmoke;
  font-style: oblique;
}

.featured {
  color: greenyellow;
  font-size: 2em;
}

.subtitle {
  font-size: 2em;
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    align-items: center;
}

.cardTitle {
  font-family: 'Londrina Outline', cursive;
  font-size: 3em;
}

.card {
  width: 250px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  align-content: center;
}

.cardDetails {
  background-color: rgba(255, 255, 255, 0);
  align-content: center;
}

.is-invalid {
  border-style: solid;
  border-color: red;
}

.card-img {
  width: 200px;
  height: 200px;
}

.detail {
  width: 300px;
  height: 300px;
}

.detailCard {
  height: auto;
  width: auto;
}

.detailCard > .card {
    height: 600px;
}

#editForm {
  left: 0;
  right: 0;
  margin: 10px auto;
  width: 85%;
  max-width: 1000px;
  text-align: center;
}

#editForm h1 {
  margin-top: 80px;
}

#editForm img {
  width: 80%;
  max-width: 250px;
  border: 1px solid;
}

#cartItems {
  flex: 3;
  display: flex;
  flex-flow: row wrap;
}

#checkout {
  flex: 1;
  background-color: rgb(224, 224, 235, .3);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

#checkout {
  flex: 1;
  background-color: rgb(224, 224, 235, 0.3);
  border-radius: 10px;
}

#checkout > .card {
  border: none;
}

#checkout table {
  width: 100%;
}

#checkout td {
  text-align: left;
}

#checkout .val {
  text-align: right;
}

#orderItems {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.fullNavBar * {
  color: #00004d;
}

.Login a {
  color: whitesmoke;
}

.topNavLink {
  font-weight: bold;
}

a.navbar-brand {
  font-weight: bold;
  padding-top: 12px;
}

nav div.dropdown-menu * {
  text-align: left;
}

button {
  margin: 5px;
}

#itemCount {
  background-color: #00004d;
  color: whitesmoke;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-size: 15px;
  padding: 5px;
  margin-left: 5px;
}

#cartIcon {
  display: flex;
  flex-flow: row nowrap;
}

footer {
  position: fixed;
  left:0px;
  bottom:0px;
  height:75px;
  width:100%;
  background: black;
  margin-top: 25px;
  padding: 15px 0px;
  color: whitesmoke;
  text-decoration: none;
}

#fixedCorner a {
  position: fixed;
  bottom: 40px;
  right: 15px;
  color: white;
}

.helloWorld {
  position: absolute;
  z-index:10;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: left;
}

.rotate{
  width: 100px;
  height: 100px;
  margin: 15px;
  animation:spin 20s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (min-width: 775px) {
  .desktop-version {
    display: flex;
  }
  
  .mobile-version {
    display: none;
  }

  #cart {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
}

@media (max-width: 774px) {
  .desktop-version {
    display: none;
  }

  .mobile-verion {
    display: flex;
    padding-top: 16px;
  }

  li {
    list-style-type: none;
  }

  .hamburgerMenu {
    padding-top: 12px;
  }

  #cart {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .noAlert {
    display: none;
  }

  .floatRight{
    float: right;
  }

  footer {
    position: fixed;
    left:0px;
    bottom:0px;
    height:75px;
    width:100%;
    background: black;
    margin-top: 25px;
    padding: 15px 0px;
  }

  .helloWorld {
    position: absolute;
    z-index:10;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: left;
  }

  .basic{
    height: 1px;
    background-color: black;
    border: 0 none;
  }

  #fixedCorner a {
    position: fixed;
    bottom: 40px;
    right: 15px;
    color: white;
  }

  .selectedPage{
    color: tomato;
  }

  .rotate{
    width: 100px;
    height: 100px;
    margin: 15px;
    animation:spin 20s linear infinite;
  }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
